.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.c-title {
    text-align: center;
}

.category {
    text-align: center;
}


.Clist {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 3%;
    grid-column-gap: 0%;
}

.Clist .cbtn {
    width: 233px;
    height: 40px;

}

a {
    text-decoration: none;
    color: #969696;
}

.cbtn {
    color: #969696;
    font-weight: 600;
    font-size: 17px;

}

.cbtn:hover {
    background-color: #F3F3F3;
    width: 100%;
}

.cbtn {
    border: solid 1px #B6B6B6;
    width: 100%;
    background: none;
}

.selected {
    background-color: #189FDB;

}

.selected a {
    text-decoration: none;
    color: white;
}

.top-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

.top-img img {
    width: 73.5%;
    margin-bottom: 3%;
}

.item-box {
    width: 76%;
    display: grid;
    grid-template-columns: repeat(5, minmax(220px, auto));
    place-items: center;
    gap: 30px;
    margin-bottom: 3%;
}

.items-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 220px;
    height: 350px;
}

.items {
    display: flex;
    border: 1px solid;
}

.items-title {
    width: 200px;
    text-align: center;
}


.p_btn {
    padding: 5px;
    margin: 3px;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

.p_btn:hover:not(.p_select) {
    background-color: #F3F3F3;
    border-radius: 50%;
}

.p_btn a {
    text-decoration: none;
    color: inherit;
}


.p_select {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: black;
    color: white;
}

.p_select a {
    color: white;
}


.photo-box {
    display: flex;
    width: 100%;
    border: solid 1px #ddd;
    height: 200px;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 78%;

}



.photo {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.info-box {
    text-align: center;
    width: 100%;
    margin: 0px;
    position: relative;
    height: 22%;
}

.info-box p {
    margin: 0;
    font-weight: 600;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
}

a {
    text-decoration: none;
    color: inherit;
}

.product-name {
    margin: 0;
    text-align: center;
    margin-bottom: 22px;
}

/* 가격 부분 */
.product-price {
    font-weight: 600;
    margin-top: 5px;
    font-size: 16px;
}