.main-img {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10%;
}

.main-img img {
    width: 100%;
}

.liquor {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.main-cimg {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2%;
    position: relative;
}

.main-cimg a {
    font-size: 13px;
    text-decoration: none;
    color: inherit;
    position: absolute;
    right: 0;
    bottom: 0;
}

.wine-content {
    display: flex;
    margin-bottom: 10%;
}

.category-img {
    flex: 1;
}

.items {
    flex: 11;
    display: grid;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(15%, auto));
    gap: 30px;
    grid-auto-rows: 336px;
    align-content: space-between;
    margin: 0;
}

.items li {
    border: solid 1px;

}